/* Banner */
.banner {
    padding: 6em 0 4em 0 ;
    display: flex; 

    h1 {
        margin-top: -0.125em; 
    }

    .content {
        padding-right: 2em;
        width: 100%; 

        div p {
            font-family: $fuenteUno;
            font-size: 1em;
            font-weight: 400;
            letter-spacing: 0.075em;
            margin-top: -0.5em;
            text-transform: uppercase; 
        }
    }
    
    .image {
        width: 100%;
    
        img{
            width: 100%;
        }
    }    
}