/* Header */
header {
    border-bottom: solid 5px $colorFuenteUno;
    padding: 5em 0 0 0;
    position: relative;
    margin-bottom: 0; 
    .logo {
        color: inherit;
        font-family: $fuenteUno;
        font-size: 1.125em; 
    }
    .icons {
         text-align: right; 
    
         i {
          color: $colorFuenteUno;
         }
    }   
}
   
@each $red in $redes {
    i.fa-#{$red} {
        -moz-transition: -moz-transform map-get($redes-time-scale, time);
        -webkit-transition: -webkit-transform map-get($redes-time-scale, time);
        -ms-transition: -ms-transform map-get($redes-time-scale, time);
        transition: transform map-get($redes-time-scale, time); 
        &:hover {
            -moz-transform: map-get($redes-time-scale, scale);
            -webkit-transform: map-get($redes-time-scale, scale);
            -ms-transform: map-get($redes-time-scale, scale);
            transform: map-get($redes-time-scale, scale); 
        }
    }
}


