/* Main */
.main {
    grid-area: main;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%; 

   .inner {
        padding: 0 5em 0.1em 5em ;
        margin: 0;
        max-width: 100%; 

        section {
              padding: 3em 0 3em 0 ;
              border-top: solid 2px $colorFuenteCuatro; 
        }
    }
}       
