@mixin mobile {
    /* Version Movil */
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
        .wrapper {
            width: 93%;
            display: grid;
            grid-template-areas:
            "main main"
            "main main";
            overflow-x :hidden
        }
        .navbar {
            display: inline-block;
        }
        .sidebarNav {
            display: inline-block;
        }
        .main .inner {
            padding: 0 0 0 2em;
        }
        .sidebar {
            display: none;      
        }
        .banner .content{
            width: calc(65.333% + 4em);
        }
        .banner {
            display: flex;
            flex-direction: column-reverse;
        }
        .banner .image {
            margin: 0px 0 2em 0em;
            width: 100%;
        }
        .container  {
            width: 100%;  
            margin: 0;      
        }
        section.fts .row-cols-1 {
            width: 100%;
        }
        section.pts .row-cols-1 {
            width: 100%;
        }
        .clearfix .image {
            width: 100%;        
        }
        .col-md-3 {
            width: 100%;
        }
        .col-md-11 {
            width: 90%;
        }
        section.nosotros .row-cols-xl-4 {
            flex-direction:column;
            width: 200%;
        }
    }
}

@include mobile;