@mixin inner {
    text-decoration: none;
    border-top: solid 2px rgba(210, 215, 217, 0.75);
    margin: 1.5em 0 0 0;
    padding: 1em 0 0 1.5em;
    position: relative; 
}

/* Sidebar */
.sidebar {
    grid-area: sidebar;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: $colorFuenteDos;
    font-size: 0.9em;
    position: relative;
    width: 19%; 

    h2 {
        font-size: 1.38889em; 
    }

    & > .inner > * {
        padding: 2.22222em 0.22222em 0.44444em 2.22222em ;
        position: relative;
        width: 95%; 
    }

    .inner section {
        @include inner;
    } 

    .inner .menu {
        @include inner;
    }

    .inner footer {
        @include inner;
    }    
}  

.logos .alt {
    color: inherit;
    font-family: $fuenteUno;
    size-adjust: 20px; 
    width: calc(100% + 0em)
}

/* SidebarNav */
.sidebarNav {
    background-color: $colorFuenteDos;
    font-size: 0.9em;
    position: relative;
    width: 100%; 

    h2 {
        font-size: 1.38889em; 
    }
    
    & > .inner > * {
        padding: 0.9em 0.22222em 0.22222em 0em ;
        position: relative;
        width: 20em; 
    } 
    
    p {
       text-transform: lowercase; 
    } 

    .inner section {
        @include inner;
    } 

    .inner .menu {
        @include inner;
    }

    .inner footer {
        @include inner;
    }    
}